<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="message">{{ message }}</div>
    <div id="details">
        <ul>
            <li>{{ last_liked }}</li>
            <li>{{ count }}</li>
        </ul>
    </div>
    <div id="chart">chart here</div>
    <div id="footer">
        Site by <a href="http://imstillinbeta.tumblr.com"><img src="{{ isib }}"> imstillinbeta</a>, with input from <a href="http://strangelookonhisface.tumblr.com"><img src="{{ slohf }}">strangelookonhisface</a>. Code at <a href="https://github.com/avaleske/istayon">GitHub</a>.
    </div>
</body>
</html>